<h1>Projekt semestralny z przedmiotu TPDiA</h1>
<p>Wykorzystane technologie:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> - Symulator oraz Serwer</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> - Strona webowa </li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> - style</li>
  <li><a href='https://kafka.apache.org/'>Kafka</a> and <a href='https://www.confluent.io/'>Confluent</a> - szyna zdarzeń</li>
  <li><a href='https://www.asp.net/signalr'>SignalR</a> - Websockets</li>
  <li>i wiele innych...</li>
</ul>
<p>Autorzy:</p>
<ul>
  <li><strong>Marcin Gurbiel</strong></li>
  <li><strong>Bartosz Kowalski</strong>.
</ul>
